
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
button { 
    padding: 10px 5px;
}
h4, input, label {
  margin-bottom: 5px;
}
label {
  align-self: flex-start;
}
input {
  padding: 5px 2px;
}
.main {
  position: relative;
  width: 100%;
    height: 100%;
}
.cards-wrapper {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    min-height: 200px;
    height: fit-content;
    padding: 40px;
}
.cards-container {
  max-width: 650px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flipped { 
        transform: rotateY(180deg)
    }
    @keyframes flip {
      from  {
        Transform: rotateY(0deg)
      } 
      to {
        Transform: rotateY(180deg)
      }
    }
.flip-card-container {
    width: 150px;
    height: 250px;
    perspective: 1000px;
    margin: 5px;
  }
.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s 0s;
    transform-style: preserve-3d;
    
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 0.5rem; */
  }
.flip-card-front {
    background-color: #333;
    color: #fff;
  }
.flip-card-back {
    background-color: #517fa4;
    color: #fff;
    transform: rotateY(180deg);
  }
.message-container {
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 50%;
  height: 50%;
  border: none ;
  background-color: lightblue;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.795);
}
.message {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.countdown-container { 
  display: none;
  width: 100vw;
  padding: 20px ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.countdown{
  display: flex;
  justify-content: center;
  width: fit-content;
  min-height: 16px;
  text-align: center;
  font-size: 40px;

}
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  border: 1px solid grey;
  
}
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}
/* .memory-game-content {
  display: none;
} */